* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
     position : absolute; 
    height:100vh;    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background : #FFFFFF;
    box-shadow: 6px 6px 16px #E7F2FF;

}
.top {
 background: #2B78D4; 
 padding: 12px;  
}

.mid ul li {
     display: flex; 
    flex-direction: column;  
   
}
.bot ul li {
     display: flex; 
     flex-direction: column; 
    
}
.container2{
    background: #F4F9FF;    
    margin-left:150px ; 
   
}
.container1 {
    display:flex;
    justify-content: space-between;    
     padding-top: 10px;  
     padding-left: 40px;
     padding-right:50px;    
      align-items: center;  
}
.img2: hover {
    /* width: 120%; */
}

 .left{    
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 32px;
    display: flex;
    
}

.nav-middle {   
     display : flex;
    background: #FFFFFF;
    border: 2px solid rgba(43, 120, 212, 0.26);
    border-radius: 12px;
}
.search {
    /* margin: 9px; */
}
input {
    border :none;
    /* text-align: center;  */
     padding-left: 10px; 
     font-family: 'Montserrat';
font-style: normal;
font-weight: 500; 
font-size: 18px;
line-height: 22px;
color: #5C83B1;
/* identical to box height */


color: rgba(92, 131, 177, 0.82);

}

.nav-right {

text-align: center; 

}
.btn {
   
    font-family: 'Montserrat';
font-style: normal;

text-align: center;
/* width: 202px; */

text-align: center;

/* height: 50px; */
color: white; 
background-color: #2B78D4;
border-radius: 8px;
}
.btn1 {
    font-weight: 600;
font-size: 18px;
line-height: 22px;

padding: 15px;

}
 .btn2 
 {
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 202px; */
    /* padding: 10px; */
   

 }
 .bright {
    position: absolute;
    bottom: 10px;
    right:20px;  

 }
 .grid-container {
    /* background: #F4F9FF;  */
    margin: 40px;
    margin-top: 100px;
    /* height:950px; */
    /* height:100vh; */

 }

   
 #content1 {
    display: grid;
    /* display :none; */
    grid-template-columns: 450px 450px 450px 450px;
    grid-auto-rows: 213px; 
    grid-row-gap: 30px;
    grid-column-gap: 30px; 
    justify-content: space-between;
    
      /* background-color: white;  */
      /* border: 2px solid white; */
     border-radius: 24px;
     
 } 

  .grid1 {
      /* position: flex ; */
      display: inline-flex;
      padding-top :20px;
      padding-bottom :20px;
      padding-left :10px;
      padding-right :20px;
     /* padding: 50px; */
     border-radius: 20px;
      background-color: white;  
 } 
 .switchdis:hover {    
    visibility: hidden;    
    /* display: none; */
     }
     
.hoverdis {
    visibility: none;
    
    
     }
.hoverdis:hover  {
    visibility:visible;  
    background-color: white;
    border: 2px solid blue;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #5C83B1;
    
    /* display: block;    
    color: red;   */
     }
     

  .subdet_p2{
    padding-top:20px;
    padding-bottom:10px;
    padding-right:10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #5C83B1;

}
.subdet_p1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */   
    
    color: #002F68;
    

}
span {
    font-weight: 200;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5C83B1;

}
 


/* .grid-container  {
    display: grid;
    /* width: 540px; */
    /* grid-gap: 10px; */
    /* grid-template-columns: 450px 450px 450px 450px;
    grid-auto-rows: 230px;
    grid-row-gap: 70px;
    grid-column-gap: 40px;
    */
  /* align-items: start; */
  /* justify-content: space-between;   */
  /* color:red; */
    /* justify-content: space-between; */

/* .details {
    display:grid;
}*/
/* .grid-container { 
    margin-top: 100px;
    margin-left : 40px;
    margin-right: 40px;
} */


